.worldMapContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.mapInnerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
}

.mapInnerBox img {
  height: 100%;
  width: auto;
  overflow: hidden;
}

.catContainer {
  margin-top: 2rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8rem;
  overflow: hidden;
  opacity: 0.3;
}

.catContainer img {
  height: 100%;
  width: auto;
  overflow: hidden;
  border-radius: 20%;
}

.noMap {
  height: 80%;
  width: 80vw;
  background: url('../../Resources/mapParchment.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.noMap h1 {
  position: absolute;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  color: black;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  font-family: gilSans;
  font-size: 2rem;
  font-weight: bold;
}
