.npc-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 20rem;
  height: 41.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  /* border: 2px solid black; */
  border-radius: 3rem;
  background-color: rgba(23, 23, 23, 0.81);
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 12px black;
}

.npc-image {
  margin-top: 2rem;
  overflow: hidden;
  width: 95%;
  height: 28rem;
}

.npc-notes-container {
  position: relative;
  margin-top: 1rem;
  overflow: hidden;
  width: 95%;
  height: 18.75rem;
}

.notes-fixed-box {
  position: fixed;
  bottom: 20rem;;
  width: 100%;
  top: auto;
  height: 18.75rem;
  overflow: scroll; 
}

.scroll-hate button {
  background-color: transparent;
}

.scroll-hate {
  width: 80%;
}

.npc-notes-container p {
  font-size: 0.7rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: black;
}


.npc-notes-container li {
  margin-top: 1rem;
  color: rgb(11, 128, 0);
  font-size: 1rem;
  font-family: gilSans;
  letter-spacing: 1px;
}

.npc-image img {
  width: 100%;
  height: auto;
}

.npc-card p {
  margin-top: 1rem;
  color: rgb(191, 191, 191);
  font-size: 1rem;
  font-family: gilSans;
  letter-spacing: 1px;
}

.npc-card button {
  background-color: rgba(56, 56, 56, 0.644);
  height: 2.5rem;
  border: 1px solid rgb(167, 167, 167);
  padding-top: 6px;
  margin-bottom: 1rem;
  color: rgb(224, 224, 224);
  font-size: 0.9rem;
  outline: none;
  width: 70%;
  font-family: gilSans;
  letter-spacing: 1px;
  border-radius: 8px;
}

.npc-card button:hover {
  background-color: black;
  border: 1px solid rgb(11, 128, 0);
  transition: 0.5s ease-in, 0.5s ease-out;
}

.npc-notes-input {
  width: 90%;
  height: 3rem;
  border: none;
  outline: none;
  margin-bottom: 1.2rem;
  background: rgb(212, 212, 212);
  font-family: gilSans;
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  border-radius: 8px;
  padding: 5px;
}

.notes-header {
  text-align: center;
  color: rgb(205, 205, 205);
  margin-bottom: 0rem;
  margin-top: 1rem;
  font-family: gilSans;
  letter-spacing: 1px;
  font-size: 1.3rem;
}

.npc-notes-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.npc-notes-container button {
  justify-self: center;
  text-align: center;
  border: none;
  outline: none;
  color: transparent;
  background-color: transparent;
}

.npc-notes-container button:hover {
  width: 85%;
  border: none;
  border-bottom: 1px solid rgb(11, 128, 0);
  color: rgb(11, 128, 0);
  background-color: transparent;
}
