.NPC-display-container {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 0rem;
  height: 42rem;
  /* width: 60%vw; */
  overflow: hidden;
  margin-right: 2rem;
  margin-left: 2rem;
}

.npcSpinner {
  position: relative;
  height: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow: hidden;
  /* background-color: rgba(46, 46, 46, 0.794); */
}

.slidingNPC {
  transition: 0.5s;
}

#npcLeft {
  /* position: absolute;
  top: 0;
  transform: translateY(-50%);
  width: 10%;
  height: 30rem; */
  background-color: transparent;
  border-radius: 3rem;
  border: none;
  outline: none;
  /* border: none;
  outline: none;
  transition: 0.5s;
  z-index: 150; */
}

#npcLeft:hover {
  background-color: rgba(192, 192, 192, 0.082);
}

#npcRight {
  background-color: transparent;
  border-radius: 3rem;
  border: none;
  outline: none;
}

#npcRight:hover {
  background-color: rgba(192, 192, 192, 0.082);
}

.arrow {
  z-index: 150;
  color: rgb(11, 128, 0);
  height: auto;
  width: 4rem;
}

.container-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.774);
}
