.drop-wrapper {
  display: flex;
  min-height: 2rem;
  flex-wrap: wrap;
}

.drop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.822);
  border-bottom: 1px solid rgb(161, 161, 161);
  /* box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important; */
  outline: none;
}

.drop-header:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: rgba(42, 42, 42, 0.781);
}

.drop-header__title--bold {
  font-weight: bold;
  font-family: gilSans;
  color: white;
  letter-spacing: 1px;
}

.drop-header__action {
  font-family: gilSans;
  color: white;
}

.drop-list {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  padding: 0;
  margin: 0;
  width: 100%;
}

.drop-list li {
  list-style-type: none;
}

.drop-list button:first-of-type {
  /* border-top: 1px solid #ccc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; */
}

.drop-list button:last-of-type {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.drop-list button {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding: 15px 20px 10px 20px;
  border: 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
  text-align: left;
  /* border-left: 1px solid #ccc;
  border-right: 1px solid #ccc; */
  color: rgb(219, 219, 219);
  font-family: gilSans;
  outline: none;
  background-color: rgb(0, 0, 0);
}

.drop-list button:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(0, 0, 0);
}

.drop-list button:focus {
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(0, 0, 0);
}

.frontPage {
  width: 20.5rem;
  margin: auto;
}

.spaceTop {
  margin-top: 1rem;
}

.front-drop-list {
  top: 4rem;
  position: absolute;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-top: 0px;
}

.front-drop-list li {
  list-style-type: none;
}

.front-drop-list button:first-of-type {
  border-top: 1px solid rgb(175, 175, 175);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.front-drop-list button:last-of-type {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.front-drop-list button {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding: 15px 20px 10px 20px;
  border: 0;
  border-bottom: 1px solid rgb(175, 175, 175);
  width: 100%;
  text-align: left;
  border-left: 1px solid rgb(175, 175, 175);
  border-right: 1px solid rgb(175, 175, 175);
  color: rgb(226, 226, 226);
  font-family: gilSans;
  outline: none;
  background-color: rgba(0, 0, 0, 0.714);
}

.front-drop-list button:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: rgba(42, 42, 42, 0.781);
}

.front-drop-list button:focus {
  cursor: pointer;
  font-weight: bold;
  background-color: rgba(42, 42, 42, 0.781);
}

.front-drop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
  padding: 0 20px;
  padding-top: 4px;
  background-color: rgba(0, 0, 0, 0.822);
  border: 2px solid rgb(165, 165, 165);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  outline: none;
  height: 2.6rem;
}

.front-drop-header__title--bold {
  font-family: gilSans;
  color: rgb(235, 235, 235);
  letter-spacing: 1px;
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: lighter;
}

.front-drop-header__action {
  font-family: gilSans;
  color: white;
}

.front-down-drop {
  margin-left: 6rem;
  color: rgb(175, 175, 175);
  width: 2rem;
  height: auto;
  transition: ease 0.5s;
}

.rotated {
  transform: rotate(180deg);
}

/* .midTitle {
  font-size: 0.8rem;
} */
