.joinOuterContainer {
  position: relative;
  display: flex;
  justify-content: center;

  height: 100vh;
  width: 100%;
  /* background-color: rgba(11, 11, 11, 0.34); */
  background-image: url('../Resources/entry.jpg');
  background-size: auto 100%;
  margin-top: 0;
}

.mobile-join {
  margin-top: 0;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    to bottom right,
    black,
    rgb(20, 20, 20),
    rgb(70, 70, 70)
  );
}

.joinInnerContainer {
  position: relative;
  margin: auto;
  width: 28rem;
  height: 30rem;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(5px);
  border-radius: 8px;
}

.heading {
  margin: 0;
  margin-top: 2rem;
  text-align: center;
  color: rgb(67, 67, 67);
  font-family: gilSans;
  letter-spacing: 2px;
}

.joinInput {
  border: transparent;
  width: 19rem;
  outline: none;
  margin: auto;
  height: 2.8rem;
  /* background-image: url('../Resources/paper2.jpg'); */
  background-color: rgba(2, 2, 2, 0.822);
  /* background-size: cover; */
  font-family: gilSans;
  color: rgb(232, 232, 232);
  font-size: 1.1rem;
  transition: 0.3s ease-in, 0.3s ease-out;
  border: 1px solid rgb(160, 160, 160);
  padding-left: 1rem;
  margin-top: 0;
  border-radius: 8px;
}

.joinInput:focus {
  background-color: grey;
}

.joinInputBox {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 2rem;
  width: 100%;
  letter-spacing: 1px;
}

.signInButton {
  margin: auto;
  width: 8rem;
  font-size: 0.9rem;
  font-weight: bold;
  height: 2.2rem;
  display: flex;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  outline: none;
  border: none;
  align-items: center;
  letter-spacing: 1px;
  font-family: gilSans;
  background-color: rgba(2, 2, 2, 0.822);
  border: 1px solid rgb(98, 98, 98);
  color: white;
  /* padding-top: 0px; */
  transition: 0.3s ease-in, 0.3s ease-out;
  border-radius: 6px;
  cursor: pointer;
}

.button-link-box {
  position: absolute;
  bottom: 1rem;
  left: 9.5rem;
}

.signInButton:hover {
  background-color: grey;
  /* color: black; */
  transition: 0.3s ease-in, 0.3s ease-out;
  border: 1px solid grey;
}

.signInButton_Inactive {
  margin: auto;
  width: 8rem;
  font-size: 0.9rem;
  font-weight: bold;
  height: 2.2rem;
  display: flex;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  outline: none;
  border: none;
  align-items: center;
  letter-spacing: 1px;
  font-family: gilSans;
  background-color: rgba(2, 2, 2, 0.157);
  border: 1px solid transparent;
  color: rgba(255, 255, 255, 0.335);
  /* padding-top: 6px; */
  transition: 0.3s ease-in, 0.3s ease-out;
  border-radius: 6px;
  cursor: pointer;
}

.new-resolution-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
  color: white;
  margin-bottom: 2rem;
}

.no-phone {
  color: white;
  height: 3rem;
  width: auto;
}

.playerInstructions {
  margin-left: 3rem;
  margin-right: 3rem;
  font-family: gilSans;
  color: rgb(73, 73, 73);
  font-size: 0.8rem;
}

.dmInstructions {
  margin-left: 3rem;
  margin-right: 3rem;
  font-family: gilSans;
  color: rgb(73, 73, 73);
  font-size: 0.8rem;
}
