.outerContainer {
  width: 100vw;
  height: 100vh;
  background-image: url(../Resources/AdobeStock_225549528.jpeg);
  background-size: cover;
  background-repeat: repeat-y;
  padding-top: 1rem;
}

.playersContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 96%;
  margin-left: 1%;
  margin-right: 3%;
  margin-top: 2rem;
}
