.diceSelect {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
  font-size: 1.1rem;
  padding: 0.4em 0.7em;
  background-color: rgb(97, 97, 97);
  color: white;
  outline: none;
  width: 8rem;
  border: 1px solid black;
  font-family: gilSans;
  padding-top: 12px;
}

.custom-select {
  position: relative;
  width: 8rem;
}

.custom-arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: rgb(73, 73, 73);
  height: 94%;
  width: 2rem;
  pointer-events: none;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.custom-arrow::before,
.custom-arrow::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;

  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-arrow::before {
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-bottom: 0.4em solid rgb(206, 206, 206);

  top: 35%;
}

.custom-arrow::after {
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-top: 0.4em solid rgb(206, 206, 206);

  top: 66%;
}

.diceSelectContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
  padding-top: 1rem;
  /* margin-top: 2rem; */
}

.diceButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: gilSans;
}

.diceButtonContainer button {
  background-color: transparent;
  height: 2.5rem;
  border: 2px solid rgb(167, 167, 167);
  padding-top: 6px;
  margin-bottom: 1rem;
  color: rgb(224, 224, 224);
  font-size: 1rem;
  outline: none;
  width: 70%;
  font-family: gilSans;
  letter-spacing: 1px;
}

.diceButtonContainer button:hover {
  background-color: black;
  border: 2px solid rgb(11, 128, 0);
  transition: 0.5s ease-in, 0.5s ease-out;
}

.diceResultContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* margin-top: 1rem; */
}

.diceResultBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  background-color: white;
  border-radius: 2px;
  border: 2px solid rgb(114, 114, 114);
}

.diceResultBackground h1 {
  font-size: 1.4rem;
  color: black;
}
