.inputBarContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* justify-content: space-around; */
  bottom: 0;
  width: 100%;
  background-image: url('../Resources/parchment.jpeg');
  background-size: cover;
  font-family: gilSans;
  font-weight: bold;
  /* border-radius: 3rem; */
  height: 100vh;
}

.charInputDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 12rem;
  align-items: center;
  color: black;
  height: 2rem;
  /* margin-top: 0.5rem; */
}

.charInputDiv p {
  margin: 0;
}

.charBox1 {
  justify-content: center;
  /* height: 14rem;
  width: 10rem; */
}

.charBox2 {
  justify-content: center;
  height: 14rem;
  width: 10rem;
}

.charBox3 {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 100%;
  text-align: center;
}

.charBox3 img {
  max-height: 100%;
  width: auto;
  max-width: 20rem;
}

.charBox4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10rem;
}

.charBox4 img {
  max-height: 100%;
  max-width: auto;
}

.charInput {
  width: 3rem;
  outline: none;
  justify-self: flex-end;
  border: none;
  height: 1.3rem;
  border: 1px solid black;
  background-color: transparent;
}

#diceImage {
  width: 100%;
  height: auto;
}

.input-character-name {
  display: flex;
  justify-content: center;
}

.input-character-name h1 {
  font-size: 2rem;
  font-family: 'Niconne', cursive;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

.submit-stats-container {
  margin-top: 1rem;
  display: flex;

  justify-content: center;
  width: 100%;
}

.submit-stats-container button {
  width: 10rem;
  height: 1.9rem;
  border: 1px solid black;
  outline: none;
  color: white;
  background-color: rgb(97, 97, 97);
}

.submit-stats-container button:hover {
  background-color: black;
}
