.monster-creator-container {
  justify-self: flex-end;
  /* padding-top: 5rem;
  padding-bottom: 5rem; */
  width: 20rem;
  height: 100vh;
  border: 1px solid grey;
  background-color: rgba(17, 17, 17, 0.349);
  overflow: scroll;
}

.minions-button {
  background-color: rgba(56, 56, 56, 0.644);
  height: 2.5rem;
  border: 1px solid rgb(167, 167, 167);
  /* padding-top: 6px; */
  margin-bottom: 1rem;
  color: rgb(224, 224, 224);
  font-size: 0.9rem;
  outline: none;
  width: 70%;
  font-family: gilSans;
  letter-spacing: 1px;
  border-radius: 8px;
  margin: auto;
}

.minions-button:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: rgba(42, 42, 42, 0.781);
}

.minions-button:focus {
  cursor: pointer;
  font-weight: bold;
  background-color: rgba(42, 42, 42, 0.781);
}

.monster-list-container {
  width: 100%;
}

.monster-list-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.733);
  width: 100%;
  height: 3rem;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.monster-list-item-container:hover {
  /* background-color: rgba(32, 32, 32, 0.733); */
}

.monster-item-image {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 2.5rem;
  width: 2.5rem;
  overflow: hidden;
  margin-left: 10px;
}

.monster-item-image img {
  height: 100;
  width: auto;
  overflow: hidden;
}

.dead-icon {
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: rgb(114, 0, 0);
}

.monster-item-delete {
  height: 2rem;
  width: 2rem;
  margin-right: 10px;
}

.monster-delete-icon {
  width: 100%;
  height: 100%;
  color: rgb(70, 24, 24);
}

.monster-delete-icon:hover {
  color: red;
}

.select-monster-container {
  width: 5rem;
  height: 70%;
  background-color: transparent;
}

.select-monster-container button {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background-color: rgba(41, 41, 41, 0.603);
  border: 1px solid rgb(112, 112, 112);
  color: white;
  font-family: gilSans;
  letter-spacing: 1px;
}

.select-monster-container button:hover {
  border: 1px solid grey;
  background-color: rgba(0, 93, 5, 0.603);
}

.draggable {
  cursor: move;
}

.draggable.dragging {
  opacity: 0.5;
}

.activeSelect {
  background-color: green;
}

.black-background {
  background-color: rgba(0, 0, 0, 0.733);
  width: 100%;
  height: 100%;
  border-bottom: 1px solid grey;
}

.combatButton_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.dmCombat_instructions {
}

.dmCombat_instructions p {
  color: rgb(155, 155, 155);
  font-size: 0.9rem;
  font-family: gilSans;
  text-align: center;
  margin-left: 12px;
  margin-right: 12px;
}
