@font-face {
  font-family: 'Elianto';
  src: url('./Resources/fonts/Elianto-Regular.ttf');
}

@font-face {
  font-family: 'GilSans';
  src: url('./Resources/fonts/Gill\ Sans\ Light.otf');
}

.slide-in-right-enter {
  transform: translateX(100%);
}

.slide-in-right-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-right-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-right-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: all 200ms;
}
