@font-face {
  font-family: 'Elianto';
  src: url('./Resources/fonts/Elianto-Regular.ttf');
}

@font-face {
  font-family: 'GilSans';
  src: url('./Resources/fonts/Gill\ Sans\ Light.otf');
}

.slide-in-right-enter {
  transform: translateX(100%);
}

.slide-in-right-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-right-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-right-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: all 200ms;
}

.ok-error-button {
  background-color: rgba(56, 56, 56, 0.644);
  height: 2.5rem;
  border: 1px solid rgb(167, 167, 167);
  padding-top: 6px;
  margin-bottom: 1rem;
  color: rgb(224, 224, 224);
  font-size: 0.9rem;
  outline: none;
  width: 10rem;
  font-family: gilSans;
  letter-spacing: 1px;
  border-radius: 8px;
  cursor: pointer;
}

.ok-error-button:hover {
  background-color: black;
  border: 1px solid rgb(11, 128, 0);
  transition: 0.5s ease-in, 0.5s ease-out;
}
